.text-tesla-gray {
  @apply font-tesla;
  @apply text-12px text-#8e8e8e fw-400 lh-26px;
  letter-spacing: 1.8px;
  font-style: normal;
}
.font-tesla {
  font-family: "Universal Sans Text", -apple-system, Arial, sans-serif, 'Universal Sans Display Trial';   
}

.text-tesla-white-2xl {
  font-family: "Universal Sans Text", -apple-system, Arial, sans-serif, 'Universal Sans Display Trial';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #ededed;
  letter-spacing: 1.8px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
.text-tesla-white-xl {

}